= simple_form_for @lead, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  %h4.page-header General Information
  = f.input :name
  = f.association :assignable, collection: User.all

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', @lead.new_record? ? main_app.leads_path : main_app.lead_path(@lead), class: 'btn'
